.avatar, .city, .temp {
    width: 250px;
    height: 200px;
}

.atat {
    height: 100%;
    padding: auto;
}

.table > div {
    border: 1px solid black;
}

.table-head {
    background-color: black;
}

.table-head div {
    color: white;
}

.card {
    border: 1px solid black;
    box-shadow: 3px 3px rgb(128,128,128,0.5);
    margin-bottom: 20px;
    padding: 4px;
}